.file-search-suggestions {
  &.dropdown {
    display: block !important;

    .dropdown-menu {
      max-width: calc(100vw - 3rem);

      .dropdown-item {
        display: flex;

        &.constraint {
          color: $dark;
        }

        &:focus {
          background-color: $dropdown-item-hover-background-color;
        }

        span {
          overflow: hidden;
          text-overflow: ellipsis;

          &.icon {
            min-width: 1.5rem;
          }

          &.tag-name {
            &::after {
              content: '\00a0';
            }
          }
        }

        .file-amount {
          align-self: flex-end;
          color: $grey-light;
        }
      }
    }

    &.has-restricted-width {
      .dropdown-menu {
        max-width: 100%;
      }
    }
  }
}
